{% extends "listings/layout.html" %}

{% block title %}About | DealScout{% endblock %}

{% block content %}

<div class="p-4 p-lg-5">
<div class="table-wrap rounded-4 p-3">

<h3>About DealScout</h3>

<p>
    DealScout helps you find mechanical keyboards and discover the best
    available deals across major marketplaces.
</p>

<p>
    We collect and organise keyboard listings so you can compare products,
    prices and specifications without having to search multiple marketplaces
    yourself.
</p>

<p>
    DealScout is designed to make finding your next mechanical keyboard
    faster and easier.
</p>
</div>
</div>
{% endblock %}