{% extends "listings/layout.html" %}

{% block title %}Affiliate Disclosure | DealScout{% endblock %}

{% block content %}
<div class="p-4 p-lg-5">
<div class="table-wrap rounded-4 p-3">

<h3>Affiliate Disclosure</h3>

<p>
    DealScout participates in affiliate marketing programmes. This means
    that some links on this website may be affiliate links.
</p>

<p>
    If you click an affiliate link and make a purchase, DealScout may
    receive a commission from the marketplace or retailer.
</p>

<p>
    This does not increase the price you pay.
</p>

<p>
    Affiliate relationships do not determine which products or listings
    are displayed on DealScout. Our aim is to provide useful information
    to help visitors find and compare mechanical keyboards.
</p>
</div>
</div>

{% endblock %}