{% extends "listings/layout.html" %}

{% block title %}ListingForge{% endblock %}

{% block content %}

    <div class="p-4 p-lg-5">
    
    {% include "listings/includes/_herocard.html" %}

        <div class="table-wrap rounded-4 p-3">

            <h3 class="mb-4">
                Best Deals
            </h3>


            <div class="row g-4">

                {% for listing in listings %}

                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">

                    <div class="listing-card h-100">

                        {% if listing.image_urls %}

                        <img
                            src="{{ listing.image_urls.0 }}"
                            class="listing-image"
                            alt="{{ listing.title }}"
                            loading="lazy"
                        >

                        {% endif %}


                        <h5 class="mt-3">
                            {{ listing.title }}
                        </h5>


                        <div class="listing-meta my-3">

                            <div>
                                <span class="label">Price</span>
                                <br>
                                {{ listing.currency }} {{ listing.currency_symbol }}{{ listing.price }}
                            </div>


                            <div>
                                <span class="label">Condition</span>
                                <br>
                                {{ listing.condition }}
                            </div>

                        </div>


                        <a
                            href="{{ listing.affiliate_url }}"
                            target="_blank"
                            class="btn btn-primary w-100 mt-auto"
                        >
                            View on eBay
                        </a>

                    </div>

                </div>


                {% empty %}

                <div class="col-12">
                    <p>No listings found.</p>
                </div>


                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
