{% extends "listings/layout.html" %}

{% block title %}Terms of Use | DealScout{% endblock %}

{% block content %}
<div class="p-4 p-lg-5">
<div class="table-wrap rounded-4 p-3">

<h3>Terms of Use</h3>

<p>
    By using DealScout, you agree to these Terms of Use.
</p>

<h4>Use of the website</h4>

<p>
    DealScout is provided to help users discover and compare mechanical
    keyboards and related listings.
</p>

<p>
    You agree not to misuse the website, interfere with its operation or
    attempt to access areas or information that you are not authorised to
    access.
</p>

<h4>Third-party listings</h4>

<p>
    DealScout links to third-party marketplaces. Purchases made through
    those websites are subject to the terms and conditions of the relevant
    marketplace.
</p>

<h4>Information accuracy</h4>

<p>
    We attempt to provide useful and accurate information, but we do not
    guarantee that product information, prices or availability will always
    be accurate or current.
</p>

<h4>Changes</h4>

<p>
    We may update these Terms of Use from time to time. Continued use of
    DealScout after changes are published constitutes acceptance of the
    updated terms.
</p>
</div>
</div>

{% endblock %}